/* Paranna postboxien ulkoasua */
.postbox {
    margin-bottom: 20px;
}

/* Taulukon parannukset */
.widefat.striped th,
.widefat.striped td {
    padding: 10px;
    vertical-align: top;
}

/* Shortcode-esimerkkien korostus */
pre {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 3px;
    overflow: auto;
}

/* Pagination Styles for Admin */
.tablenav .tablenav-pages .page-numbers {
    padding: 6px 10px;
    margin: 0 2px;
    text-decoration: none;
    background-color: #f1f1f1;
    color: #333;
    border-radius: 4px;
}
.tablenav .tablenav-pages .page-numbers.current {
    background-color: #2271b1;
    color: #fff;
}
.tablenav .tablenav-pages .page-numbers:hover:not(.current) {
    background-color: #ddd;
}
